body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-size: large;
}

li a {
    font-style: italic;
    color: brown;
}

h1 {
    font-weight: 1000;
    font-style: oblique;
}

h2 {
    font-style: italic;
}